<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include('../layouts/header-layout');%>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <%- include('../layouts/nav-mobile-layout');%>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <%- include('../layouts/nav-sidebar-layout');%>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <%- include('../layouts/header-desktop-layout');%>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="container section__content--p30">
                    <h2>Events Data</h2>
                    <!--Add a post-->
                    <!-- Trigger the modal with a button -->
                    <div class=" row">
                        <div class="col-4">
                            <!-- Modal -->
                            <div class="modal " id="viewMoreDetails" role="dialog">
                                <div class="modal-dialog modal-lg ">
                                    <!-- Modal content-->
                                    <div class="modal-content ">
                                        <div class="modal-header" style="padding:35px 50px;">

                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body" style="padding:25px 45px;">
                                            <div class="table-responsive table--no-card m-b-40">
                                                <table class="table table-borderless table-striped table-earning " id="" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <td>No</td>
                                                            <td>Name</td>
                                                            <td>Email</td>
                                                            <td>Role</td>
                                                            <td>Type</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>
                                            </div>



                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger btn-default " data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="section__content section__content--p30">
                    <div class="container-fluid ">
                        <!--Post table-->
                        <div class="row ">
                            <div class="col-12 col-lg-12 ">
                                <div class="table-responsive table--no-card m-b-40 ">
                                    <div class="table-responsive table--no-card m-b-40">
                                        <table class="table table-borderless table-striped table-earning " id="EventViewTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <td>No</td>
                                                    <td>Blood Group</td>
                                                    <td>Replacement Availability</td>
                                                    <td>Units Of Blood</td>
                                                    <td>Request Close On</td>
                                                    <td>Hospital Name</td>
                                                    <td>Hospital Address</td>
                                                    <td>HospitalLat</td>
                                                    <td>hospitalLng</td>
                                                    <td>User Name</td>
                                                    <td>User PhoneNumber</td>
                                                    <td>Notify State</td>
                                                    <td>Type</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <!-- <tbody id=" userViewTableData ">
                                                <tr>
                                                    <td id="table_number ">
                                                        <label>
                                                            <span >1</span>
                                                        </label>
                                                    </td>
                                                    <td id="table_username ">
                                                        <div class="table-data__info ">
                                                            <h6>lori lynch</h6>
                                                            <span>
                                                                <a href="# ">johndoe@gmail.com</a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td id="table_email ">
                                                        <div class="table-data__info ">
                                                            <span>
                                                                <a href="# ">johndoe@gmail.com</a>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td id="table_role ">
                                                        <span class="role admin ">admin</span>
                                                    </td>
                                                    <td>
                                                        <div class="table-data-feature ">
                                                            <button class="item " data-toggle="tooltip " data-placement="top " title="Edit ">
                                                            <i class="zmdi zmdi-edit "></i>
                                                            </button>
                                                            <button class="item " data-toggle="tooltip " data-placement="top " title="Delete ">
                                                                <i class="zmdi zmdi-delete "></i>
                                                            </button>
                                                            <button class="item " data-toggle="tooltip " data-placement="top " title="More ">
                                                                <i class="zmdi zmdi-more "></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody> -->
                                        </table>
                                    </div>

                                    <!-- <table class="table table-borderless table-striped table-earning " id="userTable ">
                                        <thead>
                                            <tr>
                                                <td>No</td>
                                                <td>Name</td>
                                                <td>Email</td>
                                                <td>Role</td>
                                                <td>Type</td>

                                            </tr>
                                        </thead>
                                        <tbody></tbody> -->
                                    <!-- <tbody>
                                            <tr>
                                                <td>2018-09-29 05:57</td>
                                                <td>100398</td>
                                                <td>Denu Jayasinghe</td>
                                                <td>10</td>
                                                <td>Blood request</td>
                                                <td class="text-right ">Pending...</td>
                                                <td>
                                                    <button class="btn btn-info btn-default btn-sm " id="viewMoreDetailsBtn"><i class="fa fa-eye"></i> View </button>
                                                    <button class="btn btn-success btn-default btn-sm"><i class='fas fa-check'></i> Approve </button>
                                                    <button class="btn btn-danger btn-default btn-sm"><i class="fa fa-remove"></i> Remove </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2018-09-29 05:57</td>
                                                <td>100398</td>
                                                <td>Denu Jayasinghe</td>
                                                <td>10</td>
                                                <td>Blood campaign</td>
                                                <td class="text-right ">Pending...</td>
                                                <td>
                                                    <a class="View " title="View " data-toggle="tooltip "><i
                                                            class="material-icons ">&#xe8f4;</i></a>
                                                    <a class="edit " title="Edit " data-toggle="tooltip "><i
                                                            class="material-icons ">&#xE254;</i></a>
                                                    <a class="delete " title="Delete " data-toggle="tooltip "><i
                                                            class="material-icons ">&#xE872;</i></a>
                                                </td>
                                            </tr>

                                        </tbody> -->
                                    <!-- </table> -->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER -->
        </div>

    </div>

    <!--Model js-->
    <script src="../js/button.js">
    </script>

    <%-include('../layouts/footer-layout');-%>
</body>

</html>
<!-- end document-->