<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- ejs placeholder -->
    <%- include('../layouts/header-layout');%>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <%- include('../layouts/nav-mobile-layout');%>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <%- include('../layouts/nav-sidebar-layout');%>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <%- include('../layouts/header-desktop-layout');%>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="container section__content--p30">
                    <h2>Request Events </h2>
                </div>
                <!-- Blood request container -->
                <div class="section__content section__content--p30">
                    <div class="container-fluid ">
                        <!--Blood request Table-->
                        <div class="row ">
                            <div class="col-12 col-lg-12 ">
                                <div class="table-responsive table--no-card m-b-40 ">
                                    <div class="table-responsive table--no-card m-b-40">
                                        <table class="table table-borderless table-striped table-earning " id="ReqEventViewTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th style="display:none;">docID</th>
                                                    <th>Blood Group</th>
                                                    <th>Replacement Availability</th>
                                                    <th>Units Of Blood</th>
                                                    <th>Request Close On</th>
                                                    <th>Hospital Name</th>
                                                    <th>Hospital Address</th>
                                                    <th>HospitalLat</th>
                                                    <th>hospitalLng</th>
                                                    <th>User Name</th>
                                                    <th>User PhoneNumber</th>
                                                    <th>Notify State</th>
                                                    <th>Description</th>
                                                    <th>Image</th>
                                                    <th style="display:none;">approved</th>
                                                    <th>Reason to reject</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Blood campaign container -->
                <div class="container section__content--p30">
                    <h2>Campaign Events </h2>
                </div>

                <div class="section__content section__content--p30">
                    <div class="container-fluid ">
                        <!--Blood request Table-->
                        <div class="row ">
                            <div class="col-12 col-lg-12 ">
                                <div class="table-responsive table--no-card m-b-40 ">
                                    <div class="table-responsive table--no-card m-b-40">
                                        <table class="table table-borderless table-striped table-earning " id="CampEventViewTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th style="display:none;">docID</th>
                                                    <th>Name of the Organizer</th>
                                                    <th>Pick Up Date</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Contact Details</th>
                                                    <th>Place Name</th>
                                                    <th>Place Address</th>
                                                    <th>Place Lat</th>
                                                    <th>Place Lng</th>
                                                    <th>Description</th>
                                                    <th>Image</th>
                                                    <th style="display:none;">approved</th>
                                                    <th width="50%">Reason to reject</th>
                                                    <th>Type</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>

        <!--Model js-->
        <script src="../js/button.js ">
        </script>

        <%-include('../layouts/footer-layout');-%>
</body>

</html>
<!-- end document-->